@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Here you have your timeline</h2>
        <form action="/action_page.php">
            Username: <input type="text" name="usrnm"><br>
            Password: <input type="password" name="pswrd"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
