@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>My name is Mathias Kirkegaard Nielsen, and I am a developer, trying to learn how to make websites.</p>
