@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Hoejdevej 2, 1.Th<br />
    Copenhagen S, 2300<br />
    <abbr title="Mobile Phone">Phone:</abbr>
    +45 6160 1657
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">MathiasKirkegaard151090@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Mums_kirkegaard@gmail.com</a>
</address>
